.Container {
  margin: calc(var(--spacing-extra-loose) * 5) 0;
  text-align: center;
}

.Container:first-of-type {
  margin-top: 0;
}

.Title {
  text-transform: uppercase;
}

.Lead {
  margin: var(--spacing-loose) auto;
  max-width: 475px;
}

.Lead-wide {
  max-width: 600px;
}

@media screen and (max-width: 600px) {
  .Container {
    margin: calc(var(--spacing-extra-loose) * 3) 0;
  }
}
