.Button {
  background: none;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 0 2px transparent;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: var(--spacing-tight) var(--spacing-loose);
  text-transform: uppercase;
  transition: opacity 150ms ease-out, box-shadow 150ms ease-out;
}

.Button:focus {
  box-shadow: 0 0 0 2px white;
}

.Button-wide {
  padding: var(--spacing-tight) calc(var(--spacing-loose) * 2.5);
}

.Button-transparent {
  opacity: 0.5;
}

.Button-transparent:hover {
  opacity: 1;
}
