.Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(
    2,
    minmax(200px, min(((90vh - var(--navbar-height)) / 2), 300px))
  );
}

.ImageContainer {
  padding: var(--spacing-extra-tight);
  width: 100%;
}

.Image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.ImageContainer:nth-child(3n + 0) {
  grid-row: 1 / 3;
}
