.Stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--spacing-base) * -1);
  margin-left: calc(var(--spacing-base) * -1);
}

.Stack-column {
  flex-direction: column;
}

.Stack-alignCenter {
  align-items: center;
}

.Stack-justifyCenter {
  justify-content: center;
}

.Stack-justifyEnd {
  justify-content: flex-end;
}

.Stack-justifySpaceBetween {
  justify-content: space-between;
}

.Stack-extraTight {
  margin-top: calc(var(--spacing-extra-tight) * -1);
  margin-left: calc(var(--spacing-extra-tight) * -1);
}
.Stack-tight {
  margin-top: calc(var(--spacing-tight) * -1);
  margin-left: calc(var(--spacing-tight) * -1);
}
.Stack-loose {
  margin-top: calc(var(--spacing-loose) * -1);
  margin-left: calc(var(--spacing-loose) * -1);
}
.Stack-extraLoose {
  margin-top: calc(var(--spacing-extra-loose) * -1);
  margin-left: calc(var(--spacing-extra-loose) * -1);
}

.Stack-noWrap {
  flex-wrap: nowrap;
}

.Child {
  margin-top: var(--spacing-base);
  margin-left: var(--spacing-base);
}

.Stack-extraTight > .Child {
  margin-top: var(--spacing-extra-tight);
  margin-left: var(--spacing-extra-tight);
}
.Stack-tight > .Child {
  margin-top: var(--spacing-tight);
  margin-left: var(--spacing-tight);
}
.Stack-loose > .Child {
  margin-top: var(--spacing-loose);
  margin-left: var(--spacing-loose);
}
.Stack-extraLoose > .Child {
  margin-top: var(--spacing-extra-loose);
  margin-left: var(--spacing-extra-loose);
}

.Stack-noWrap > .Child {
  flex-shrink: 0;
}
