.Container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-loose) 0;
  text-transform: uppercase;
}

.Title {
  font-size: var(--font-navbar);
}

.Link {
  font-size: var(--font-navbar);
  margin: 0 var(--spacing-base);
}
