.Container {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Content {
  align-items: center;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: var(--navbar-height);
  justify-content: center;
  margin: auto;
  max-width: var(--page-max-width);
  padding: var(--spacing-base) var(--spacing-loose);
  text-transform: uppercase;
  width: 100%;
}

.Title {
  font-size: var(--font-navbar);
}

.Logo {
  display: block;
  margin: auto;
  width: 150px;
}

.Link {
  font-size: var(--font-navbar);
  opacity: 0.6;
  position: relative;
  transition: opacity 250ms;
}

.Link:hover {
  opacity: 1;
}

.Link-active {
  opacity: 1;
}

.Link-active::after {
  background: var(--color-white);
  bottom: -5px;
  content: " ";
  height: 1px;
  left: calc(var(--spacing-base) / 2 * -1);
  position: absolute;
  width: calc(100% + var(--spacing-base));
}
