.Page {
  background: var(--color-black);
  color: var(--color-white);
  min-height: 100vh;
}

.Page-blue {
  background: var(--color-blue);
}

.Container {
  margin: auto;
  max-width: 1280px;
  padding: var(--spacing-base);
}

.Footer {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--spacing-extra-loose) 0;
}

.SocialIconsContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.SocialIcon {
  margin: 0 var(--spacing-tight);
}

.CopyrightContainer {
  text-align: right;
}
