.Page {
  background: var(--color-black);
  color: var(--color-white);
  min-height: 100vh;
}

.Page-blue {
  background: var(--color-blue);
}

.Container {
  margin: auto;
  max-width: var(--page-max-width);
  padding: 0 var(--spacing-base) var(--spacing-base);
  position: relative;
  width: 100%;
}

.Container-noPadding {
  padding: 0;
  max-width: none;
}

.Footer {
  align-items: center;
  display: grid;
  gap: var(--spacing-base);
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  max-width: var(--page-max-width);
  padding: var(--spacing-extra-loose) var(--spacing-loose);
}

.SocialIconsContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.SocialIcon {
  margin: 0 var(--spacing-tight);
}

.CopyrightContainer {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .Footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .CopyrightContainer {
    text-align: center;
  }
}
