.Container {
  height: 100%;
  position: relative;
}

.ImageContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.PlayButtonContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}
