.EmptyHeroContainer {
  height: 150px;
}

.VideoHeroContainer {
  height: calc(90vh - var(--navbar-height));
  max-height: 700px;
  min-height: 300px;
  padding-top: var(--navbar-height);
}

.StillsHeroContainer {
  padding-top: var(--navbar-height);
}

.DetailsContainer {
  margin: var(--spacing-loose) 0 var(--spacing-extra-loose);
  text-align: center;
}

.Title {
  font-family: "Max Fett", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.Subtitle {
  text-transform: uppercase;
}

.NavButtonsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 400px;
  padding: var(--spacing-extra-loose) 0;
  width: 100%;
}

.ButtonPrevious,
.ButtonNext {
  flex-shrink: 0;
}

.NavText {
  flex-shrink: 1;
  padding: 0 var(--spacing-base);
  text-align: center;
}

.Description {
  margin: auto;
  max-width: 450px;
}

@media screen and (max-width: 600px) {
  .HeroContainer {
    height: 65vh;
  }
}
