.HeroContainer {
  height: 80vh;
  min-height: 300px;
  padding-top: var(--navbar-height);
}

.Thumbnail {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.DetailsContainer {
  margin: var(--spacing-loose) 0 var(--spacing-extra-loose);
  text-align: center;
}

.Title {
  font-family: "Max Fett", sans-serif;
  font-size: 30px;
  margin-bottom: var(--spacing-loose);
  text-transform: uppercase;
}
