.HeroContainer {
  height: 80vh;
  min-height: 300px;
}

.Thumbnail {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.DetailsContainer {
  margin: var(--spacing-loose) 0 var(--spacing-extra-loose);
  text-align: center;
}

.Title {
  font-family: "Max Fett", sans-serif;
  font-size: 30px;
  margin-bottom: var(--spacing-loose);
  text-transform: uppercase;
}
