.HeroContainer {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
  min-height: 300px;
  padding: 0 var(--spacing-extra-loose);
}

.Logo {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.ClientLogosContainer {
  margin: var(--spacing-extra-loose) auto;
  max-width: 800px;
}

.ContactForm {
  margin: auto;
  max-width: 475px;
}

@media screen and (max-width: 600px) {
  .HeroContainer {
    height: 40vh;
    padding-top: var(--spacing-extra-loose);
  }
}
