.HeroContainer {
  align-items: center;
  display: flex;
  height: 65vh;
  justify-content: center;
  min-height: 300px;
  padding: 0 var(--spacing-extra-loose);
}

.Logo {
  margin: auto;
  max-width: 600px;
}

.ClientLogosContainer {
  margin: var(--spacing-extra-loose) auto;
  max-width: 800px;
}

.ContactForm {
  margin: auto;
  max-width: 475px;
}
