* {
  box-sizing: border-box;
}

:root {
  --base-size: 14px;

  --font-normal: 1rem;
  --font-navbar: 1.142rem; /* roughly 16px */

  --spacing-extra-tight: 0.25rem;
  --spacing-tight: 0.5rem;
  --spacing-base: 1rem;
  --spacing-loose: 1.5rem;
  --spacing-extra-loose: 3rem;

  --color-white: #fff;
  --color-black: #000;
  --color-blue: #1c19c7;

  --page-max-width: 1440px;
  --navbar-height: 80px;
}

@font-face {
  font-family: "Max Fett";
  src: url("/fonts/MaxFett/MaxFett-Black.otf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Mono";
  src: url("/fonts/SuisseIntlMono/SuisseIntlMono-Regular.otf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  background-color: var(--color-black);
  font-family: "Suisse Intl Mono", monospace;
  font-size: var(--base-size);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  line-height: 1.5;
}
