.HeroContainer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProjectsContainer {
  margin: var(--spacing-base) 0;
}

.FilterTitle {
  text-transform: uppercase;
}

.ProjectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-tight);
}
