.HeroContainer {
  padding: 56.25% 0 0 0;
  position: relative;
}

.HeroContainer-cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ProjectsContainer {
  margin: var(--spacing-base) 0;
}

.FilterTitle {
  margin-bottom: var(--spacing-base);
  text-transform: uppercase;
}

.ProjectsGrid {
  column-gap: var(--spacing-base);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-loose);
  row-gap: var(--spacing-extra-loose);
}

.Project {
  text-transform: uppercase;
}

.Thumbnail {
  height: 250px;
  margin-bottom: var(--spacing-tight);
  object-fit: cover;
  width: 100%;
}
