.VideoBackground {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.VideoBackground iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .VideoBackground iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .VideoBackground iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

.ProjectsContainer {
  margin: var(--spacing-base) 0;
}

.FilterTitle {
  margin-bottom: var(--spacing-base);
  text-transform: uppercase;
}

.ProjectsGrid {
  column-gap: var(--spacing-base);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-loose);
  row-gap: var(--spacing-extra-loose);
}

.Project {
  text-transform: uppercase;
}

.Thumbnail {
  height: 250px;
  margin-bottom: var(--spacing-tight);
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .ProjectsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .ProjectsGrid {
    grid-template-columns: 1fr;
  }

  .FilterButtonContainer {
    overflow-x: scroll;
  }
}
