.HeroContainer {
  height: calc(80vh - var(--navbar-height));
  min-height: 300px;
  padding-top: var(--navbar-height);
  position: relative;
}

.DetailsContainer {
  margin: var(--spacing-loose) 0 var(--spacing-extra-loose);
  text-align: center;
}

.Title {
  font-family: "Max Fett", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.Description {
  margin: auto;
  max-width: 450px;
}
